process {

  withLabel:process_batch {
    executor = 'awsbatch'
    queue = 'default-2a6498e0-72f2-11eb-b638-06d5c9fd5439'

    errorStrategy = 'retry'
    maxRetries = 2
  }

}

params {
    branch = false
    container_host = "490915662541.dkr.ecr.us-west-2.amazonaws.com/openproblems:${params.branch}-"
}

process.container = "${params.container_host}openproblems"
