/*
 * -------------------------------------------------
 *  nf-core/openproblems Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performance compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 2.GB * task.attempt, 'memory' ) }
  time = { check_max( 1.h * task.attempt, 'time' ) }

  errorStrategy = { ((task.exitStatus in [143,137,104,134,139]) || (task.attempt == 1)) ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  // Process-specific resource requirements
  withLabel:process_low {
    scratch = true
    cache = false
    cpus = 1
    memory = 512.GB
    time = { check_max( 5.min * task.attempt, 'time' ) }
  }

  withName: 'load_dataset' {
    cpus = 2
    memory = { check_max( 8.GB * (2 ** task.attempt), 'memory' ) }
    time = 1.h
  }

  withName: 'run_method' {
    cpus = { check_max((task.attempt == 1) ? 2 : (task.exitStatus in 137..140 ? task.cpus : 32), 'cpus') }
    memory = { check_max((task.attempt == 1) ? 32.GB : (task.exitStatus in 137..140 ? task.memory * 2 : task.memory), 'memory') }
    time = { check_max((task.attempt == 1) ? 30.min : (task.exitStatus in 137..140 ? 30.min : 24.h), 'time') }
  }

  withName: 'run_metric' {
    cpus = { check_max((task.attempt == 1) ? 2 : (task.exitStatus in 137..140 ? task.cpus : 32), 'cpus') }
    memory = { check_max((task.attempt == 1) ? 16.GB : (task.exitStatus in 137..140 ? task.memory * 2 : task.memory), 'memory') }
    time = { check_max((task.attempt == 1) ? 30.min : (task.exitStatus in 137..140 ? 30.min : 24.h), 'time') }
  }

}

params {
  ignore_context = false
}
