/*
 * -------------------------------------------------
 *  nf-core/openproblems Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performance compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 2.GB * task.attempt, 'memory' ) }
  time = { check_max( 1.h * task.attempt, 'time' ) }

  errorStrategy = { ((task.exitStatus in [143,137,104,134,139]) || (task.attempt == 1)) ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  // Process-specific resource requirements
  withLabel:process_low {
    scratch = true
    cache = false
    cpus = 1
    memory = 256.MB
    time = 5.min
  }

  withName: 'load_dataset' {
    cpus = 2
    memory = { compute_resources(8.GB, task, 'memory') }
    time = 1.h
  }

  withName: 'run_method' {
    cpus = { compute_resources(2, task, 'cpus', max = 32) }
    memory = { compute_resources(32.GB, task, 'memory') }
    time = { compute_resources(30.min, task, 'time', max = 24.h) }
  }

  withName: 'run_metric' {
    cpus = { compute_resources(2, task, 'cpus', max = 32) }
    memory = { compute_resources(16.GB, task, 'memory') }
    time = { compute_resources(30.min, task, 'time', max = 24.h) }
  }

}

params {
  ignore_context = false
}
