/*
 * -------------------------------------------------
 *  nf-core/openproblems Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performance compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 2.GB * task.attempt, 'memory' ) }
  time = { check_max( 1.h * task.attempt, 'time' ) }

  errorStrategy = { ((task.exitStatus in [143,137,104,134,139]) || (task.attempt == 1)) ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  // Process-specific resource requirements
  withLabel:process_low {
    scratch = true
    cache = false
    cpus = { check_max( 1 * task.attempt, 'cpus' ) }
    memory = { check_max( 512.MB * task.attempt, 'memory' ) }
    time = { check_max( 5.min * task.attempt, 'time' ) }
  }

  withName: 'load_dataset' {
    cpus = 4
    memory = { check_max( 8.GB * (2 ** task.attempt), 'memory' ) }
    time = 1.h
  }

  withName: 'run_method' {
    cpus = { (task.attempt == 1) ? 2 : 32 }
    memory = { check_max( 128.GB * (2 ** task.attempt), 'memory' ) }
    time = { (task.attempt == 1) ? 30.min : 24.h }
  }

  withName: 'run_metric' {
    cpus = { (task.attempt == 1) ? 2 : 32 }
    memory = { check_max( 16.GB * (2 ** task.attempt), 'memory' ) }
    time = { (task.attempt == 1) ? 30.min : 24.h }
  }

}

params {
  ignore_docker_hash = false
}
