/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/openproblems -profile test
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  max_memory = 16.GB
  max_cpus = 4
  max_time = 60.min
  max_retries = 2

  method_cpus = 1
  metric_cpus = 1
  method_max_cpus = 4
  metric_max_cpus = 4
  method_memory = 512.MB
  metric_memory = 512.MB
  method_time = 10.min
  metric_time = 10.min
  method_max_time = 1.h
  metric_max_time = 1.h

  use_test_data = true
}
