/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/openproblems -profile test
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  max_memory = 16.GB
  max_cpus = 4
  max_time = 60.min

  withName: 'run_method' {
    cpus = { compute_resources(1, task, 'cpus', max = 4) }
    memory = { compute_resources(512.MB, task, 'memory') }
    time = { compute_resources(10.min, task, 'time', max = 60.min) }
  }

  withName: 'run_metric' {
    cpus = { compute_resources(1, task, 'cpus', max = 4) }
    memory = { compute_resources(512.MB, task, 'memory') }
    time = { compute_resources(10.min, task, 'time', max = 60.min) }
  }

  use_test_data = true
}
